<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376948684174-amhagd7a9c3tvkko42bqs77jsk6t6osi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376948684174-amhagd7a9c3tvkko42bqs77jsk6t6osi</string>
	<key>API_KEY</key>
	<string>AIzaSyA2eA4-SS9QKvcYzNZjJbVLypxcQCQa-wk</string>
	<key>GCM_SENDER_ID</key>
	<string>376948684174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yjzwtestapp.www</string>
	<key>PROJECT_ID</key>
	<string>tiglapiles1</string>
	<key>STORAGE_BUCKET</key>
	<string>tiglapiles1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376948684174:ios:afd3b499d9393e93</string>
	<key>DATABASE_URL</key>
	<string>https://tiglapiles1.firebaseio.com</string>
</dict>
</plist>